* {
    font-family: 'Montserrat';
    color:#1A1423;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    width:100vw;
    background-color:#F7F7F7;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:100px;
}

a {
    text-decoration:none;
}

#header {
    display:flex;
    position:absolute;
    top:0;
    width:100%;
    align-items:center;
    justify-content: space-between;
    height: 60px;
    background-color:white;
    box-shadow: 0px -15px 10px 20px grey;
    padding: 0px 15px 0px 15px;
}

#logo {
    font-weight:bold;
    width:115px;
}

#nav-buttons {
    display:flex;
    gap:10px;
    align-items:center;
    justify-content: center;
}

button {
    border-radius:1.25em;
    height:2.5em;
    padding:5px 15px 5px 15px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border:none;
    color:white;
}

button:hover {
    cursor:pointer;
}

#food {
    background-color: #46315b
}

#food:hover {
    background-color: #291a38
}

#food:active {
    background-color: #64497e
}

#activities {
    background-color: #774C60
}

#activities:hover {
    background-color: #623c4e
}

#activities:active {
    background-color: #915d75
}

#bars {
    background-color: #B75D69
}

#bars:hover {
    background-color: #a24d59
}

#bars:active {
    background-color: rgb(206, 116, 128)
}

#home-button-container {
    width:115px;
    display:flex;
    justify-content:flex-end;
}

#home-image {
    height:25px;
    margin-left:auto;
}

#home-container {
    display:grid;
    gap:15px;
    padding:10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(250px,100%) 300px 200px;
    width: min(800px,100%);
}

.home-card {
    height:125px;
    display:flex;
    align-items:center;
    justify-content:center;
    display:flex;
    color:rgba(0, 0, 0, 0);
    font-weight:800px;
    font-size:1.5em;
    transition: 0.3s ease-in;
}

#home-container>div,
#container>div {
    box-shadow:2px 2px 5px rgb(190, 190, 190);
}

.home-card:hover {
    color:white;
    cursor:pointer;
    background-position:center;
    background-size:cover;
}

.food-card {
    background: url(food.jpeg);
    background-position:center;
    background-size:cover;
}

.food-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.766),rgba(0, 0, 0, 0.473)), url(food.jpeg);
    background-position:center;
    background-size:cover;
}

.activities-card {
    background: url(activities.jpeg);
    background-position:center;
    background-size:cover;
}

.activities-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.766),rgba(0, 0, 0, 0.473)), url(activities.jpeg);
    background-position:center;
    background-size:cover;
}

.bars-card {
    background: url(bars.jpeg);
    background-position:center;
    background-size:cover;
}

.bars-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.766),rgba(0, 0, 0, 0.473)), url(bars.jpeg);
    background-position:center;
    background-size:cover;
}

.nikki-card {
    background-image: url(nikki.png);
    background-size:cover;
    background-position:center;
    display:flex;
}

.description-card {
    height:100%;
    grid-column: 2 / 4;
    background-color:white;
    padding:0px 20px 0px 20px;
}

.landscape-card {
    height:300px;
    grid-column: 1/4;
    background-image: url(portland.jpg);
    background-size:cover;
}

#container {
    display:grid;
    gap:15px;
    padding:10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows:200px;
    width: min(800px,100%);
}

.card {
    width: minmax(200px, 1fr);
    background-color:green;
    display:flex;
    align-items:center;
    justify-content:center;
}